.host-power-status {
  &.on {
    color: var(--pf-t--global--icon--color--status--success--default);
  }

  &.off {
    color: var(--pf-t--global--icon--color--status--danger--default);
  }

  &.na {
    color: var(--pf-t--global--text--color--disabled);
  }
}
