.padded-divider {
  padding: 10px 0 10px;
}

.disabled-text {
  color: var(--pf-t--global--text--color--disabled);
  font-size: small;
}

.power-on {
  color: var(--pf-t--global--icon--color--status--success--default);
}

.power-off {
  color: var(--pf-t--global--icon--color--status--danger--default);
}

.power-na {
  color: var(--pf-t--global--text--color--disabled);
}
