.bar-chart__container {
  width: 100%;
}

.bar-chart__container svg {
  overflow: visible;
}

.bar-chart__container foreignObject {
  overflow: visible;
}

.bar-chart__container--small {
  height: 310px;
}

.bar-chart__container--medium {
  height: 340px;
}

.bar-chart__container--regular {
  height: 360px;
}

.bar-chart__tooltip {
  background: var(--pf-t--global--background--color--inverse--default);
  border-radius: var(--pf-t--global--border--radius--small);
  color: var(--pf-t--global--text--color--inverse);
  font-family: var(--pf-t--global--font--family--body);
  font-size: var(--pf-t--global--font--size--body--sm);
  padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);
}

.bar-chart__tooltip-title {
  font-weight: 700;
}

.bar-chart__tooltip-divider {
  background-color: var(--pf-t--global--text--color--subtle);
  margin: var(--pf-t--global--spacer--xs) 0;
}

.bar-chart__tooltip-row {
  align-items: center;
  display: flex;
}

.bar-chart__tooltip-swatch {
  background: var(--bar-chart-legend-color, var(--pf-t--global--text--color--regular));
  display: inline-block;
  height: var(--pf-t--global--spacer--sm);
  margin-right: var(--pf-t--global--spacer--xs);
  width: var(--pf-t--global--spacer--sm);
}

.bar-chart__tooltip-value {
  margin-left: var(--pf-t--global--spacer--xs);
}
