/**
  Third Party variables imports here
*/
// patternfly v3
$font-path: '~patternfly/dist/fonts/';
$img-path: '~patternfly/dist/img/';
$icon-font-path: '~patternfly/dist/fonts/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~patternfly/dist/sass/patternfly/variables';

// patternfly v6
$pf-v6-global--font-path: '~@patternfly/patternfly/assets/fonts' !default;
$fa-font-path: '~@patternfly/patternfly/assets/fonts/webfonts' !default;
$pf-v6-global--fonticon-path: '~@patternfly/patternfly/assets/pficon' !default;
$pf-v6-global--image-path: '~@patternfly/patternfly/assets/images' !default;
@import '~@patternfly/patternfly/sass-utilities/scss-variables';
$pf-prefix: 'pf-v6-';
$button: #{$pf-prefix + 'c-button'};

$header-max-width: calc(#{$pf-v6-global--breakpoint--lg} + 70px);
