/*
  This file exists to make pf3 compatible with pf4.
  When migrating from pf3 to pf4, some styles might be removable.
*/

/*
  Basic fonts and colors overrides
 */
html {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: unset !important;
}

body {
  font-family: var(--pf-t--global--font--family--body);
  font-size: var(--pf-t--global--font--size--body--sm);
  font-weight: var(--pf-t--global--font--weight--body--default);
  line-height: var(--pf-t--global--font--line-height--body);
  text-align: left;
}

a {
  color: var(--pf-t--global--text--color--link--default);
  text-decoration-line: var(--pf-t--global--text-decoration--link--line--default);
  text-decoration-style: var(--pf-t--global--text-decoration--link--style--default);

  &:hover {
    color: var(--pf-t--global--text--color--link--hover);
    text-decoration-line: var(--pf-t--global--text-decoration--link--line--hover);
    text-decoration-style: var(--pf-t--global--text-decoration--link--style--hover);
  }
}

/*
  PF3-Tables overrides
 */
.table {
  & > thead,
  & > tbody,
  & > tfoot {
    & > tr {
      // fix line-height to be compatible with pf4 fonts
      & > th,
      & > td {
        line-height: inherit;
      }
      // fix headers to be bold
      & > th a {
        font-weight: 600;
      }
    }
  }
}

.pf-v6-c-alert {
  line-height: var(--pf-t--global--font--line-height--body);
  h4 {
    margin: 0;
    line-height: var(--pf-t--global--font--line-height--body);
  }
}
