@import './colors.scss';

.navbar {
  .nav a {
    font-size: 13px;
  }
  .active > a,
  .open > a {
    background: linear-gradient(
      to bottom,
      $hover_gradient_start,
      $hover_gradient_end
    );
  }

  .nav > li > a {
    font-size: 14px;
  }
}

.pf-v6-c-masthead {
  background-color: var(--pf-v6-c-masthead--BackgroundColor);
  .user-icon {
    margin-right: 10px;
  }
}
