.foreman-theme {
  .pf-v6-c-page__sidebar {
    --pf-v6-c-page__sidebar--Width: 250px;
    #navigation-search .pf-v6-c-text-input-group {
      background-color: var(--pf-t--global--background--color--primary--default);
      .pf-v6-c-text-input-group__icon{
        color: var(--pf-t--global--text--color--placeholder);
      }
      .pf-v6-c-text-input-group__text-input {
        color: var(--pf-t--global--text--color--regular);
        &::placeholder {
          color: var(--pf-t--global--text--color--placeholder);
        }
        ::placeholder {
          color: var(--pf-t--global--text--color--placeholder);
        }
      }
    }
  }

  .pf-v6-c-button.pf-m-stateful {
    --pf-v6-c-button--m-read--m-clicked--BackgroundColor: var(--pf-t--global--color--nonstatus--blue--default);
  }

  .pf-v6-c-nav__toggle {
    display: none;
  }
}
